@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        @apply text-white bg-gray-900
    }
}

@layer components{
    label{
        @apply mb-2
    }

    
}

.swiper-button-next {    
    color: #d88c43 !important;
}

.swiper-button-prev {    
    color: #d88c43 !important;
}

.swiper-pagination {
    stroke : #d88c43 !important;

}

html:root {    
    --swiper-navigation-size: 25px;   
    --swiper-theme-color: #d88c43 !important; 
}

